.woocommerce-checkout .woocommerce{
    max-width: 100%;
}

.woocommerce-checkout.woocommerce-page input[type=radio].shipping_method~.payment_box, .woocommerce-checkout.woocommerce-page input[type=radio][name=payment_method]~.payment_box{
    padding-left: 0;
}
.date-year-section .select-row {
    display: flex;
    width: 100%;
    gap: 10px;
}.w-33 {
    width: 33%;
}
fieldset#wc-bulletproof_bpcheckout_lite-cc-form {
    padding: 15px !important;
    margin-top: 20px;
}
.woocommerce-checkout.woocommerce #payment .form-row select, .woocommerce-checkout.woocommerce-page #payment .form-row select {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    appearance: none;
    background-image: url('../images/select-arrow.svg');
    background-repeat: no-repeat;
    background-size: 6px 5px;
    background-position: right 1rem center;
}
.woocommerce-checkout .save-payment-checkbox {
    padding: 0 !important;
    display: flex;
    align-items: center;
}
.woocommerce-checkout .save-payment-checkbox label{
    margin: 0;
}
.date-year-section label, .form-row.form-row-wide label {
    margin: 0 0 10px 0;
}

.save-payment-checkbox input {
    margin-right: 10px;
}